.bootstrap_chat {
  background-color: transparent;
  min-height: 100%;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box, .chat-box {
  height: 100%;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

