@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background: #222327;
    /*font-family: "Poppins", sans-serif;*/
}

.grid {
    border-radius: 0.5rem;
    padding-block: 1rem;
    

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-template-areas: 
    'one one one two two'
    'one one one two two'
    'three three three two two'
    'four four four two two'
    'four four four two two'
    'four four four two two'
}

.test:nth-child(1) {
    grid-area: one;
}

.test:nth-child(2) {
    grid-area: two;
    background: gray;
}

.test:nth-child(3) {
    grid-area: three;
}

.test:nth-child(4) {
    grid-area: four;
}

.test {
    background: black;
    color: white;
    padding: 2rem;
    border-radius: 0.3rem;
}

.img {
    background-color: #777;
    background-image: url(Bilder/urban-jungle-texture-num5.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.img p {
    font-family: 'Dancing Script';
    font-weight: 300;
    font-size: 50px;
    rotate: -7deg;
    color: white;
    line-height: 5px;
}

