* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
}

body {
    display: block;
    margin: 30px;
    justify-content: center;
    align-items: center;
    min-height: 17vh;
    background: var(--clr);
}

.navigation {
    position: relative;
    top: 10px;
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    margin-bottom: 15px;
    box-shadow: 0 0 1em black;
}

.navigation p {
    font-family: "Verdana", sans-serif;
	color: black;
	font-size: 27px;
    font-weight: 500;
	line-height: 100px;
	letter-spacing: 2px;
}

.navigation ul {
    display: flex;
    width: 30%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.4s;
    color: var(--clr);
}

.navigation ul li:hover .icon {
    transform: translateY(-10px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
}

.navigation ul li:hover .text {
    opacity: 1;
}

.navigation p {
	color: black;
	font-size: 27px;
    font-weight: 500;
	line-height: 100px;
	padding: 0px 200px;
	letter-spacing: 2px;
}

.article {
    background: rgb(255, 0, 0);
}

.main {
    background: black;
}

.ul {
    /*margin-left: 37%; */
}